@model SearchViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewBag.Message</h1>
    <h4>@ViewBag.StoreDescription</h4>
    <p>@ViewBag.NumItems</p>
</div>

<form asp-action="Index" asp-route-storeNavigationTitle="@(ViewContext.RouteData.Values["storeNavigationTitle"])">
    <div class="form-row">
        <div class="form-group col-sm-4">
            <label asp-for="SearchString"></label>
            <input asp-for="SearchString" class="form-control" aria-describedby="search-string" />
            <small class="form-text text-muted">Use this form to search for products.</small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>

    <div asp-validation-summary="All" class="text-danger"></div>
</form>

<container>
    <div class="row row-cols-4 justify-content-start offset-1">

        @foreach (Product product in Model.SearchResults)
        {
            <div class="card product-card m-4 p-1" style="width: 12rem;">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.ShortDescription">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.ShortDescription</p>
                    <p class="card-text">@product.Price.ToString("F1") <text>$</text></p>
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart"
                       asp-action="AddToCart"
                       asp-route-productId="@product.ProductId"
                       asp-route-storeNavigationTitle="@(ViewContext.RouteData.Values["storeNavigationTitle"])">Add to Cart</a>

                    <a class="btn btn-primary"
                       asp-controller="Store"
                       asp-action="Details"
                       asp-route-productId="@product.ProductId"
                       asp-route-storeNavigationTitle="@(ViewContext.RouteData.Values["storeNavigationTitle"])">Details</a>
                </div>
            </div>
        }
    </div>
</container>