@model IEnumerable<Product>

<div class="text-center">
    <h1 class="display-4">Welcome to a user store: @ViewBag.Message</h1>
    <p>This store currently has @ViewBag.NumItems products in the inventory.</p>
</div>

<container>
    <div class="row row-cols-4 justify-content-start offset-1">
        @foreach (Product product in Model)
        {
            <div class="card product-card m-4 p-1" style="width: 12rem;">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.ShortDescription">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.ShortDescription</p>
                    <p class="card-text">@product.Price.ToString("F1") <text>$</text></p>
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart"
                       asp-action="AddToCart"
                       asp-route-productId="@product.ProductId"
                       asp-route-storeNavigationTitle="@(ViewContext.RouteData.Values["storeNavigationTitle"])"
                       >Add to Cart</a>
                </div>
            </div>
        }
    </div>
</container>