@model PaymentSummaryViewModel

@if (Model != null && !Model.Order.IsCompletedTransaction()) // If we somehow (e.g. user presses the "back" button) end up here with a payed order, we don't want to allow a second payment
{
    <h1>Please review your order before choosing a payment option.</h1>

    <p>You will be billed by '@Model.WebStoreName' for @Model.Order.GetOrderTotal() $</p>

    <partial name="_OrderDetails" model="Model.Order"/>

    <h3>Payment options</h3>

    <script src="https://www.paypal.com/sdk/js?client-id=ATPXcjZPYPW7ZjHUdg6l5gVaCXjyflzpzwbTaipwnoqWL30vv-K1AM-lTwlP31KY1HEBvZwg_jwlGZBs">
    </script>

    <div id="paypal-button-container"></div>

    <script>
    paypal.Buttons({
        createOrder: function (data, actions) {

            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [
                    {
                        amount: {
                            description: '@Model.WebStoreName',
                            value: '@Model.Order.GetOrderTotal()'
                        }
                    }
                ]
            });
        },

        // This function captures the funds from the transaction.
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                let payer = details.payer.name.given_name
                window.location.href = '@Url.Action("CheckoutPaymentConfirmation", "ShoppingCart", new { orderId = @Model.Order.OrderId,
                                       storeNavigationTitle = ViewContext.RouteData.Values["storeNavigationTitle"], paymentComplete = true
                                   })' + '&amp;' + details.payer.name.given_name
                // '/fluffys/ShoppingCart/CheckoutPaymentConfirmation?orderId=0&amp;paymentComplete=True&amp;{details.payer.name.given_name}'
           });
        }

    }).render('#paypal-button-container');
    </script>

}
else // If order has been payed
{
    <div class="alert alert-info">This order has already been payed!</div>
}