@model ShoppingCart

<h2>Shopping Cart Summary</h2>

<p>Please review the contents of the cart before proceeding to checkout.</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price (USD)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @{
            if (Model?.Items == null || Model.Items.Count == 0)
            {
                <text>
                    <p>There are no items in your cart ... yet!</p>
                </text>
            }
            else
            {
                int row = 1;
                foreach (ShoppingCartItem i in Model.Items)
                {
                    Product p = await Model.GetProduct(i);

                    <text>
                        <tr id="product-@p.ProductId">
                            <th scope="row">@row</th>
                            <td>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample-@row" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    @p.ProductName
                                </a>
                                <div class="collapse" id="collapseExample-@row">
                                    <div class="card card-body">
                                        @p.ShortDescription
                                    </div>
                                </div>
                            </td>
                            <td class="amount">@i.Amount</td>
                            <td class="price">@p.Price</td>
                            <td>
                                <button onclick="IncreaseAmount(@p.ProductId)" type="button" class="btn btn-secondary">+</button>
                                <button onclick="DecreaseAmount(@p.ProductId)" type="button" class="btn btn-secondary">-</button>
                            </td>
                        </tr>
                    </text>

                    row++;
                }

                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td id="total">Total: @await Model.CalculateTotal() USD</td>
                    <td><a type="button" class="btn btn-primary"
                                asp-controller="ShoppingCart"
                                asp-action="CheckoutAddressForm"
                                asp-route-storeNavigationTitle="@(ViewContext.RouteData.Values["storeNavigationTitle"])">
                        Proceed to Checkout</a></td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script>
    function CalculateTotal() {
        let cart = GetCartFromCookies();
            
        var total = 0;
        cart.Items.forEach(product => {
            rowProductHtml = document.querySelector("#product-" + product.ProductId);
            let amount = parseInt(rowProductHtml.querySelector(".amount").innerHTML);
            let price = parseDouble(rowProductHtml.querySelector(".price").innerHTML);

            if (amount == NaN || proce == NaN) {
                amount = 0;
                price = 0;
            }

            total += amount * price;
        });

        document.querySelector("#total").innerHTML = "Total: " + total + " USD";
    }

    // Get cart
    // Increase amount by one of product with given Id
    // Update the html
    // Save the cookie again
    function IncreaseAmount(productId) {
        let cart = GetCartFromCookies();

        if (cart != undefined)
        {
            cartItem = cart.Items.find(item => item.ProductId == productId);
            cartItem.Amount = parseInt(cartItem.Amount) + 1;

            let amountHtml = document.querySelector(`#product-${productId} > .amount`);
            amountHtml.innerHTML = cartItem.Amount;

            SaveCartToCookies(cart);
        }
    }

    // Similar to the one above, but also stop
    // decrease when amount reaches zero.
    // Remove item when amount reaches zero.
    function DecreaseAmount(productId) {

    }

    function GetCartFromCookies()
    {
        // decodeURI only decodes half of the symbols, at least in MS Edge
        return JSON.parse(Cookies.get("Cart")
                .replaceAll("%22", "\"")
                .replaceAll("%7B", "{")
                .replaceAll("%7D", "}")
                .replaceAll("%3A", ":")
                .replaceAll("%2C", ",")
                .replaceAll("%5B", "[")
                .replaceAll("%5D", "]"))
    }

    function SaveCartToCookies(cart)
    {
        Cookies.remove("Cart");
        Cookies.set("Cart", JSON.stringify(cart));
    }
</script>