@model ShoppingCart

<h2>Shopping Cart Summary</h2>

<p>Please review the contents of the cart before proceeding to checkout.</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @{
            if (Model?.Items == null || Model.Items.Count == 0)
            {
                <text>
                    <p>There are no items in your cart ... yet!</p>
                </text>
            }
            else
            {
                int row = 1;
                foreach (ShoppingCartItem i in Model.Items)
                {
                    Product p = await Model.GetProduct(i);

                    <text>
                        <tr>
                            <th scope="row">@row</th>
                            <td>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample-@row" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    @p.ProductName
                                </a>
                                <div class="collapse" id="collapseExample-@row">
                                    <div class="card card-body">
                                        @p.ShortDescription
                                    </div>
                                </div>
                            </td>
                            <td>@i.Amount</td>
                            <td>@p.Price <text>$</text></td>
                            <td>
                                <button type="button" class="btn btn-secondary">+</button>
                                <button type="button" class="btn btn-secondary">-</button>
                            </td>
                        </tr>
                    </text>

                    row++;
                }

                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td><p>Total: @await Model.CalculateTotal() $</p></td>
                    <td><a type="button" class="btn btn-primary"
                                asp-controller="ShoppingCart"
                                asp-action="CheckoutAddressForm"
                                asp-route-storeNavigationTitle="@(ViewContext.RouteData.Values["storeNavigationTitle"])">
                        Proceed to Checkout</a></td>
                </tr>
            }
        }

    </tbody>
</table>